Repository ljnsn/pycwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: Fix with ruff
  entry: ruff
  args:
  - --extend-fixable=ERA001,F401,F841
  require_serial: true
  language: system

black:
  name: Format with Black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: Validate types with MyPy
  entry: mypy
  language: system
  require_serial: true

🔧 config(cli): lower coverage fail threshold
  workspaces/cli/pyproject.toml
Due: poetry-check

✨ feat: add cli
  workspaces/cli/README.md
  workspaces/cli/poetry.lock
  workspaces/cli/pyproject.toml
  workspaces/cli/src/pycwatch/cli/__init__.py
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/tests/__init__.py
  workspaces/cli/tests/test_main.py
Due: ruff, black, poetry-check, mypy

🐛 fix: pin pre-commit below 2.20
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

🔧 config(coverage): reduce threshold
  pyproject.toml
Due: poetry-check

🔧 config(coverage): add some config for coverage
  poetry.toml
  pyproject.toml
Due: poetry-check

🐛 fix(lib): pin black to below 23.7
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(lib): pin cfgv
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

💚 ci(publish): use package specific tokens
  .github/workflows/python-publish.yml
Due: none

🔨 script(publish): add set -e
  scripts/publish.sh
Due: none

📝 docs(readme): update pypi badges
  README.md
Due: none

💚 ci(dependabot): monitor root folder too
  .github/dependabot.yml
Due: none

👷 build(main): update lock file
  poetry.lock
Due: none

🚨 fix-lint(cli): remove noqas
  workspaces/cli/src/pycwatch/cli/assets.py
  workspaces/cli/src/pycwatch/cli/markets.py
Due: ruff, black, mypy

🧑‍💻 devxp(cli): ignore UP007 globally
  workspaces/cli/pyproject.toml
  workspaces/cli/src/pycwatch/cli/pairs.py
Due: ruff, black, poetry-check, mypy

🧑‍💻 devxp(cli): ignore FBT002 globally
  workspaces/cli/pyproject.toml
Due: poetry-check

🧑‍💻 devxp(cli): ignore B008 globally
  workspaces/cli/pyproject.toml
  workspaces/cli/src/pycwatch/cli/assets.py
  workspaces/cli/src/pycwatch/cli/exchanges.py
  workspaces/cli/src/pycwatch/cli/markets.py
  workspaces/cli/src/pycwatch/cli/pairs.py
Due: ruff, black, poetry-check, mypy

🐛 fix(lib): use ujson converter
  workspaces/lib/src/pycwatch/lib/conversion.py
Due: ruff, black, mypy

✨ feat(cli): add different output format options
  workspaces/cli/src/pycwatch/cli/assets.py
  workspaces/cli/src/pycwatch/cli/exchanges.py
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/src/pycwatch/cli/markets.py
  workspaces/cli/src/pycwatch/cli/pairs.py
  workspaces/cli/src/pycwatch/cli/utils.py
Due: ruff, black, mypy

🐛 fix(cli): fix adding key with multiple top level keys
  workspaces/cli/src/pycwatch/cli/utils.py
Due: ruff, black, mypy

✅ test(cli): add some tests for formatting
  workspaces/cli/tests/test_main.py
  workspaces/cli/tests/test_utils.py
Due: ruff, black, mypy

✅ test(cli): test some more commands with different formats
  workspaces/cli/tests/test_markets.py
Due: ruff, black, mypy

🔨 script(main): improve publish script
  scripts/publish.sh
Due: none

🐛 fix(cli): add a version parameter
  workspaces/cli/src/pycwatch/cli/main.py
Due: ruff, black, mypy

✅ test(cli): add a test for the version flag
  workspaces/cli/tests/test_main.py
Due: ruff, black, mypy

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
