Repository ljnsn/pycwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true
minimum_pre_commit_version: "1.4.3"

repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: text-unicode-replacement-char

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]

  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.6.0
    hooks:
    - id: commitizen
      additional_dependencies: [cz-conventional-gitmoji]

  - repo: https://github.com/ljnsn/cz-conventional-gitmoji
    rev: v0.2.0
    hooks:
    - id: conventional-gitmoji

  - repo: local
    hooks:
    - id: ruff
      name: Fix with ruff
      entry: ruff
      args: ["--extend-fixable=ERA001,F401,F841"]
      require_serial: true
      language: system
      types: [python]

    - id: black
      name: Format with Black
      entry: black
      require_serial: true
      language: system
      types: [python]

    - id: poetry-check
      name: poetry check
      entry: poetry check
      language: system
      files: pyproject.toml
      pass_filenames: false

    - id: poetry-lock-check
      name: poetry lock check
      entry: poetry lock
      args: [--check]
      language: system
      pass_filenames: false

    - id: mypy
      name: Validate types with MyPy
      entry: mypy
      language: system
      require_serial: true
      types: [python]

💚 ci(package): remove mac from lint job too
  .github/workflows/python-package.yml
Due: none

🔧 config(main): exclude correct file
  pyproject.toml
Due: poetry-check

🔨 script(main): use test script in makefile
  Makefile
Due: none

🐛 fix(lib): add namespace level
  workspaces/lib/pyproject.toml
  workspaces/lib/src/pycwatch/lib/__init__.py
  workspaces/lib/src/pycwatch/lib/client.py
  workspaces/lib/src/pycwatch/lib/config.py
  workspaces/lib/src/pycwatch/lib/conversion.py
  workspaces/lib/src/pycwatch/lib/endpoints.py
  workspaces/lib/src/pycwatch/lib/exceptions.py
  workspaces/lib/src/pycwatch/lib/models.py
  workspaces/lib/src/pycwatch/lib/utils.py
  workspaces/lib/tests/conftest.py
  workspaces/lib/tests/test_client.py
  workspaces/lib/tests/test_config.py
  workspaces/lib/tests/test_conversion.py
  workspaces/lib/tests/test_integration.py
  workspaces/lib/tests/test_models.py
Due: ruff, black, poetry-check, mypy

🐛 fix: ignore reports and ruff cache
  .gitignore
Due: none

💚 ci(pre-commit): pass packages to mypy
  .pre-commit-config.yaml
Due: none

💚 ci(package): only run cli tests for python >= 3.10
  .github/workflows/python-package.yml
Due: none

✨ feat(cli): add info and assets commands and tests
  workspaces/cli/src/pycwatch/cli/assets.py
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/src/pycwatch/cli/utils.py
  workspaces/cli/tests/conftest.py
  workspaces/cli/tests/test_assets.py
  workspaces/cli/tests/test_main.py
Due: ruff, black, mypy

🏷️ types: add py.typed to lib and cli
  workspaces/cli/src/pycwatch/cli/py.typed
  workspaces/lib/src/pycwatch/lib/py.typed
Due: none

🔨 script(lint): check packages with mypy instead of paths
  scripts/lint.sh
Due: none

💚 ci(package): only lint on 310 and 311
  .github/workflows/python-package.yml
Due: none

✨ feat(cli): add pairs command
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/src/pycwatch/cli/pairs.py
  workspaces/cli/tests/test_pairs.py
Due: ruff, black, mypy

💚 ci(package): list excludes line by line
  .github/workflows/python-package.yml
Due: none

🔧 config(cli): set proper target versions
  workspaces/cli/pyproject.toml
Due: poetry-check

🐛 fix(main): only install cli if python >= 3.10
  poetry.lock
  pyproject.toml
Due: poetry-check

🔧 config(mypy): ignore missing imports for apiclient
  pyproject.toml
Due: poetry-check

🚨 fix-lint(lib): add and remove ignores
  workspaces/lib/src/pycwatch/lib/client.py
Due: ruff, black, mypy

🐛 fix(lib): add converter for MarketSummaryKey
  workspaces/lib/src/pycwatch/lib/client.py
  workspaces/lib/src/pycwatch/lib/models.py
Due: ruff, black, mypy

🐛 fix(lib): add unstructuring for decimals
  workspaces/lib/src/pycwatch/lib/conversion.py
Due: ruff, black, mypy

✨ feat(lib): add markets cli
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/src/pycwatch/cli/markets.py
Due: ruff, black, mypy

⬆️ dep-bump: bump mypy
  poetry.lock
  workspaces/cli/pyproject.toml
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(lib): pin mypy for 3.7
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(cli): always return result
  workspaces/cli/src/pycwatch/cli/markets.py
Due: ruff, black, mypy

🐛 fix(cli): typer doesn't support pipe union
  workspaces/cli/src/pycwatch/cli/markets.py
Due: ruff, black, mypy

🐛 fix(lib): coverage 7 dropped support for 3.7
  workspaces/lib/pyproject.toml
Due: poetry-check

👷 build: update lock file
  poetry.lock
Due: none

🐛 fix(lib): pin black to below 23.7
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(lib): key by is optional
  workspaces/lib/src/pycwatch/lib/models.py
Due: ruff, black, mypy

🐛 fix: pin pre-commit below 2.20
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

✅ test(cli): add tests for market commands
  workspaces/cli/src/pycwatch/cli/markets.py
  workspaces/cli/tests/test_markets.py
Due: ruff, black, mypy

🐛 fix(lib): add identify for compat
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(lib): pin cfgv
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

💩 poop: cfgv
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

✨ feat(cli): add exchanges commands
  workspaces/cli/src/pycwatch/cli/exchanges.py
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/tests/test_exchanges.py
Due: ruff, black, mypy

🐛 fix(cli): return only result everywhere
  workspaces/cli/src/pycwatch/cli/assets.py
  workspaces/cli/src/pycwatch/cli/exchanges.py
  workspaces/cli/src/pycwatch/cli/main.py
Due: ruff, black, mypy

➖ dep-rm(lib): remove requests-mock and pytest-mock
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

📝 docs: update readme
  README.md
Due: none

📝 docs(readme): add usage info
  README.md
Due: none

📝 docs(readme): better formatting
  README.md
Due: none

💚 ci(package): remove unnecessary quotes
  .github/workflows/python-package.yml
Due: none
