Repository ljnsn/pycwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: Fix with ruff
  entry: ruff
  args:
  - --extend-fixable=ERA001,F401,F841
  require_serial: true
  language: system

black:
  name: Format with Black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: Validate types with MyPy
  entry: mypy
  language: system
  require_serial: true

💚 ci(package): checkout repo
  .github/workflows/python-package.yml
Due: none

🐛 fix(cli): require python >= 3.10
  workspaces/cli/poetry.lock
  workspaces/cli/pyproject.toml
Due: poetry-check

🔧 config(coverage): add some config for coverage
  poetry.toml
  pyproject.toml
Due: poetry-check

💚 ci(package): upload coverage only once
  .github/workflows/python-package.yml
  pyproject.toml
Due: poetry-check

🐛 fix: move scripts back to top level
  scripts/lint.sh
  scripts/publish.sh
  scripts/test.sh
  workspaces/lib/scripts/lint.sh
  workspaces/lib/scripts/publish.sh
  workspaces/lib/scripts/test.sh
Due: none

🐛 fix(main): add cli dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

💚 ci(package): upload correct file
  .github/workflows/python-package.yml
Due: none

💚 ci(package): install coverage
  .github/workflows/python-package.yml
Due: none

🐛 fix(lib): fix version
  workspaces/lib/src/pycwatch/__init__.py
Due: ruff, black, mypy

💚 ci(package): upload all test run reports
  .github/workflows/python-package.yml
Due: none

💚 ci(package): fix job name
  .github/workflows/python-package.yml
Due: none

💚 ci(package): fix installs
  .github/workflows/python-package.yml
Due: none

💚 ci: change coverate report location
  .github/workflows/python-package.yml
Due: none

🔨 script(main): update lint and test scripts
  scripts/lint.sh
  scripts/test.sh
Due: none

🔨 script(main): add makefile
  Makefile
Due: none

💚 ci(package): remove report step
  .github/workflows/python-package.yml
Due: none

🐛 fix(cli): fix entrypoint
  workspaces/cli/pyproject.toml
Due: poetry-check

💚 ci(package): fix upload file
  .github/workflows/python-package.yml
Due: none

🔥 dump: remove changelog from lib
  workspaces/lib/CHANGELOG.md
Due: none

🔧 config(cli): lower coverage fail threshold
  workspaces/cli/pyproject.toml
Due: poetry-check

✨ feat: add cli
  workspaces/cli/README.md
  workspaces/cli/poetry.lock
  workspaces/cli/pyproject.toml
  workspaces/cli/src/pycwatch/cli/__init__.py
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/tests/__init__.py
  workspaces/cli/tests/test_main.py
Due: ruff, black, poetry-check, mypy

💚 ci(coverage): enable parallel again and add combine
  pyproject.toml
  scripts/test.sh
Due: poetry-check

🔨 script(main): replace version and path dependencies in publishs script
  scripts/publish.sh
Due: none

🔧 config(lib): rename extras to test and remove commitizen
  workspaces/lib/pyproject.toml
Due: poetry-check

💚 ci(package): run tests for both packages
  .github/workflows/python-package.yml
Due: none

💚 ci(package): remove macos due to weird make behaviour
  .github/workflows/python-package.yml
Due: none

💚 ci(package): download all reports
  .github/workflows/python-package.yml
Due: none

🐛 fix(cli): remove module running
  workspaces/cli/src/pycwatch/cli/main.py
Due: ruff, black, mypy

🐛 fix(lib): ignore correct file
  workspaces/lib/pyproject.toml
Due: poetry-check

🔨 script(main): no need to combine without parallel
  scripts/test.sh
Due: none

💚 ci(package): don't poetry run
  .github/workflows/python-package.yml
Due: none

🔧 config(coverage): reduce threshold
  pyproject.toml
Due: poetry-check

🐛 fix(cli): add script entrypoint
  workspaces/cli/pyproject.toml
Due: poetry-check

🔧 config(main): use lib test extras
  poetry.lock
  pyproject.toml
Due: poetry-check

🔨 script(main): include only src in coverage run
  scripts/test.sh
Due: none

🐛 fix(pyproject): include namespace package
  workspaces/lib/pyproject.toml
Due: poetry-check

💚 ci(package): properly combine reports
  .github/workflows/python-package.yml
  pyproject.toml
Due: poetry-check

💚 ci(package): update pipeline
  .github/workflows/python-package.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
