Repository ljnsn/pycwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: Fix with ruff
  entry: ruff
  args:
  - --extend-fixable=ERA001,F401,F841
  require_serial: true
  language: system

black:
  name: Format with Black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: Validate types with MyPy
  entry: mypy
  language: system
  require_serial: true

🐛 fix(cli): fix entrypoint
  workspaces/cli/pyproject.toml
Due: poetry-check

💚 ci(package): install coverage
  .github/workflows/python-package.yml
Due: none

💚 ci(package): remove mac from lint job too
  .github/workflows/python-package.yml
Due: none

💚 ci(package): don't poetry run
  .github/workflows/python-package.yml
Due: none

💚 ci(package): only run cli tests for python >= 3.10
  .github/workflows/python-package.yml
Due: none

🔨 script(main): use test script in makefile
  Makefile
Due: none

🔨 script(main): replace version and path dependencies in publishs script
  scripts/publish.sh
Due: none

💚 ci(package): fix job name
  .github/workflows/python-package.yml
Due: none

💚 ci(package): list excludes line by line
  .github/workflows/python-package.yml
Due: none

🐛 fix(lib): key by is optional
  workspaces/lib/src/pycwatch/lib/models.py
Due: ruff, black, mypy

🐛 fix(cli): add script entrypoint
  workspaces/cli/pyproject.toml
Due: poetry-check

💚 ci(package): fix upload file
  .github/workflows/python-package.yml
Due: none

💚 ci(package): run tests for both packages
  .github/workflows/python-package.yml
Due: none

💚 ci(package): fix installs
  .github/workflows/python-package.yml
Due: none

📝 docs(readme): better formatting
  README.md
Due: none

🐛 fix(lib): ignore correct file
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(main): add cli dependencies
  poetry.lock
  pyproject.toml
Due: poetry-check

🔨 script(main): no need to combine without parallel
  scripts/test.sh
Due: none

🚨 fix-lint(lib): add and remove ignores
  workspaces/lib/src/pycwatch/lib/client.py
Due: ruff, black, mypy

💚 ci(package): upload all test run reports
  .github/workflows/python-package.yml
Due: none

💚 ci(package): update pipeline
  .github/workflows/python-package.yml
Due: none

🐛 fix(cli): return only result everywhere
  workspaces/cli/src/pycwatch/cli/assets.py
  workspaces/cli/src/pycwatch/cli/exchanges.py
  workspaces/cli/src/pycwatch/cli/main.py
Due: ruff, black, mypy

✨ feat(cli): add pairs command
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/src/pycwatch/cli/pairs.py
  workspaces/cli/tests/test_pairs.py
Due: ruff, black, mypy

🏷️ types: add py.typed to lib and cli
  workspaces/cli/src/pycwatch/cli/py.typed
  workspaces/lib/src/pycwatch/lib/py.typed
Due: none

💚 ci(publish): publish both packages
  .github/workflows/python-publish.yml
Due: none

💚 ci(package): properly combine reports
  .github/workflows/python-package.yml
  pyproject.toml
Due: poetry-check

🐛 fix: ignore reports and ruff cache
  .gitignore
Due: none

🐛 fix(cli): typer doesn't support pipe union
  workspaces/cli/src/pycwatch/cli/markets.py
Due: ruff, black, mypy

💚 ci(dependabot): monitor workspace dirs
  .github/dependabot.yml
Due: none

✨ feat(cli): add info and assets commands and tests
  workspaces/cli/src/pycwatch/cli/assets.py
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/src/pycwatch/cli/utils.py
  workspaces/cli/tests/conftest.py
  workspaces/cli/tests/test_assets.py
  workspaces/cli/tests/test_main.py
Due: ruff, black, mypy

💚 ci(package): remove macos due to weird make behaviour
  .github/workflows/python-package.yml
Due: none

✨ feat(lib): add markets cli
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/src/pycwatch/cli/markets.py
Due: ruff, black, mypy

📝 docs(cli): update readme
  workspaces/cli/README.md
Due: none

💚 ci(package): remove unnecessary quotes
  .github/workflows/python-package.yml
Due: none

🔧 config(lib): rename extras to test and remove commitizen
  workspaces/lib/pyproject.toml
Due: poetry-check

🔧 config(cli): set proper target versions
  workspaces/cli/pyproject.toml
Due: poetry-check

💚 ci(package): remove report step
  .github/workflows/python-package.yml
Due: none

🐛 fix(main): only install cli if python >= 3.10
  poetry.lock
  pyproject.toml
Due: poetry-check

🔧 config(mypy): ignore missing imports for apiclient
  pyproject.toml
Due: poetry-check

🔧 config(main): exclude correct file
  pyproject.toml
Due: poetry-check

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
