Repository ljnsn/pycwatch: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, poetry-check, mypy

ruff:
  name: Fix with ruff
  entry: ruff
  args:
  - --extend-fixable=ERA001,F401,F841
  require_serial: true
  language: system

black:
  name: Format with Black
  entry: black
  require_serial: true
  language: system

poetry-check:
  name: poetry check
  entry: poetry check
  language: system
  pass_filenames: false

mypy:
  name: Validate types with MyPy
  entry: mypy
  language: system
  require_serial: true

💚 ci(publish): publish both packages
  .github/workflows/python-publish.yml
Due: none

💚 ci(dependabot): monitor workspace dirs
  .github/dependabot.yml
Due: none

📝 docs(cli): update readme
  workspaces/cli/README.md
Due: none

🔨 script(publish): fix publishing
  scripts/publish.sh
Due: none

🐛 fix(lib): add namespace level
  workspaces/lib/pyproject.toml
  workspaces/lib/src/pycwatch/lib/__init__.py
  workspaces/lib/src/pycwatch/lib/client.py
  workspaces/lib/src/pycwatch/lib/config.py
  workspaces/lib/src/pycwatch/lib/conversion.py
  workspaces/lib/src/pycwatch/lib/endpoints.py
  workspaces/lib/src/pycwatch/lib/exceptions.py
  workspaces/lib/src/pycwatch/lib/models.py
  workspaces/lib/src/pycwatch/lib/utils.py
  workspaces/lib/tests/conftest.py
  workspaces/lib/tests/test_client.py
  workspaces/lib/tests/test_config.py
  workspaces/lib/tests/test_conversion.py
  workspaces/lib/tests/test_integration.py
  workspaces/lib/tests/test_models.py
Due: ruff, black, poetry-check, mypy

🔨 script(lint): check packages with mypy instead of paths
  scripts/lint.sh
Due: none

🐛 fix(lib): coverage 7 dropped support for 3.7
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(pyproject): include namespace package
  workspaces/lib/pyproject.toml
Due: poetry-check

⬆️ dep-bump: bump mypy
  poetry.lock
  workspaces/cli/pyproject.toml
  workspaces/lib/pyproject.toml
Due: poetry-check

🐛 fix(cli): require python >= 3.10
  workspaces/cli/poetry.lock
  workspaces/cli/pyproject.toml
Due: poetry-check

💚 ci(package): checkout repo
  .github/workflows/python-package.yml
Due: none

📝 docs(readme): add usage info
  README.md
Due: none

💚 ci(pre-commit): pass packages to mypy
  .pre-commit-config.yaml
Due: none

🐛 fix(lib): fix version
  workspaces/lib/src/pycwatch/__init__.py
Due: ruff, black, mypy

🔧 config(main): use lib test extras
  poetry.lock
  pyproject.toml
Due: poetry-check

➖ dep-rm(lib): remove requests-mock and pytest-mock
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

💩 poop: cfgv
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

🔨 script(main): add makefile
  Makefile
Due: none

🔨 script(main): update lint and test scripts
  scripts/lint.sh
  scripts/test.sh
Due: none

💚 ci: change coverate report location
  .github/workflows/python-package.yml
Due: none

💚 ci(package): upload correct file
  .github/workflows/python-package.yml
Due: none

📝 docs: update readme
  README.md
Due: none

💚 ci(coverage): enable parallel again and add combine
  pyproject.toml
  scripts/test.sh
Due: poetry-check

🐛 fix: move scripts back to top level
  scripts/lint.sh
  scripts/publish.sh
  scripts/test.sh
  workspaces/lib/scripts/lint.sh
  workspaces/lib/scripts/publish.sh
  workspaces/lib/scripts/test.sh
Due: none

🔨 script(main): include only src in coverage run
  scripts/test.sh
Due: none

🐛 fix(cli): remove module running
  workspaces/cli/src/pycwatch/cli/main.py
Due: ruff, black, mypy

✅ test(cli): add tests for market commands
  workspaces/cli/src/pycwatch/cli/markets.py
  workspaces/cli/tests/test_markets.py
Due: ruff, black, mypy

🔥 dump: remove changelog from lib
  workspaces/lib/CHANGELOG.md
Due: none

🐛 fix(lib): add converter for MarketSummaryKey
  workspaces/lib/src/pycwatch/lib/client.py
  workspaces/lib/src/pycwatch/lib/models.py
Due: ruff, black, mypy

💚 ci(package): upload coverage only once
  .github/workflows/python-package.yml
  pyproject.toml
Due: poetry-check

✨ feat(cli): add exchanges commands
  workspaces/cli/src/pycwatch/cli/exchanges.py
  workspaces/cli/src/pycwatch/cli/main.py
  workspaces/cli/tests/test_exchanges.py
Due: ruff, black, mypy

🐛 fix(lib): pin mypy for 3.7
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

👷 build: update lock file
  poetry.lock
Due: none

🐛 fix(lib): add identify for compat
  poetry.lock
  workspaces/lib/pyproject.toml
Due: poetry-check

💚 ci(package): only lint on 310 and 311
  .github/workflows/python-package.yml
Due: none

🐛 fix(cli): always return result
  workspaces/cli/src/pycwatch/cli/markets.py
Due: ruff, black, mypy

🐛 fix(lib): add unstructuring for decimals
  workspaces/lib/src/pycwatch/lib/conversion.py
Due: ruff, black, mypy

💚 ci(package): download all reports
  .github/workflows/python-package.yml
Due: none

Path conditions:
  ruff: any of: \.py$
  black: any of: \.py$
  poetry-check: any of: pyproject.toml
  mypy: any of: \.py$
